[Unit]
Description=Consul-Template Daemon
Requires=multi-user.target
After=multi-user.target

[Service]
ExecStart=consul-template -template="/etc/consul-template/index.html.ctmpl:/var/www/html/index.html""
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=10s
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
